# IntelliJ IDEA
.idea/

# Logs
*.log

# Gradle
.gradle/
build/

# Maven
target/

# Eclipse
.classpath
.project
.settings/

# User-specific files
*.iml
*.ipr
*.iws
*.DS_Store

# macOS metadata
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db