# IntelliJ IDEA
.idea/

# Compiled class files
/out/

# Logs
*.log

# Gradle
.gradle/
build/

# Maven
target/

# Eclipse
.classpath
.project
.settings/

# Compiled Java
*.class

# JAR files
*.jar

# User-specific files
*.iml
*.ipr
*.iws
*.DS_Store

# macOS metadata
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db